:root{
    --color-orange:#FCA311;
    --color-orange-hover:#a06300;
    --color-highlight:#4A4A4A;
    --color-highlight-hover:#636363;
    --color-secundary:#2C2C2C;
    --color-background:#1E1E1E;
}

.modal-input-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    gap: 20px;
}

.modal-input-img label{
    margin: 0;
}

.input-img i{
    color: #ffffff;
    font-weight: 400;
    font-size: 45px;
}

.input-img p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.input-img{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-highlight);
    width: 200px;
    height: 200px;
}

fieldset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 300px;
}

.teste{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

#namePart{
    height: 35px;
    background-color: var(--color-highlight-hover);
    border: none;
}

.teste input{
    border-radius: 5px;
}

.input-img input[type="file"] {
    display: none;
}

.modal-body-parts,.modal-body-content{
    background-color: var(--color-secundary);
    padding: 30px;
}

.modal-body-parts h1{
    margin: 0;
}

.top-modal-parts{
    display: flex;
    width: 100%;
    align-items: center !important;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-highlight-hover);
    margin-bottom: 30px;
}

.top-modal-parts i{
    color: var(--color-orange);
    font-size: 24px;
}

.modal-body-form-parts{
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}


.box-modal-input {
    border-radius: 0 5px 5px 0;
}

.box-modal-input input{
    background-color: var(--color-highlight-hover);
    border: none;
    height: 35px;
    border-radius: 0 5px 5px 0;
}

.box-modal-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 37px;
    height: 37px;
}

.box-modal-input {
    display: flex;
    align-items: center;
    background-color: var(--color-highlight);
    height: 35px;
}

.buttonAnexo{
    display: flex;
    background-color: var(--color-orange);
    color: #fff;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    align-items: center;
}

span{
    color: #fff;
    font-family: 'Mulish';
    font-weight: 400;
    font-style: normal;
}

.fechar{
    border: none;
    background-color: var(--color-secundary);
}

.modal-body-img label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: var(--color-orange);
    color: #fff;
}

.modal-body-form-parts{
    display: flex;
    flex-direction: row;
    height: 260px;
}

.labels-parts {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
}   

.column{
    display: flex;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--color-highlight-hover);
}

.top-modal-parts h1{
    font-family: "Mulish", system-ui;
    font-size: 30px;
    font-weight: 1000;
    color: var(--color-orange);
}