:root{
    --color-orange:#FCA311;
    --color-orange-hover:#a06300;
    --color-highlight:#4A4A4A;
    --color-highlight-hover:#636363;
    --color-secundary:#2C2C2C;
    --color-background:#1E1E1E;
}

.modal-body-cars{
    border-radius: 10px;
}

.top-modal-cars{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.top-modal-cars h1{
    font-family: "Mulish", system-ui;
    font-size: 30px;
    font-weight: 1000;
    color: var(--color-orange);
}

.form-carros{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body-cars{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-body-cars,.modal-body-content-cars{
    background-color: var(--color-secundary);
    padding: 30px;
}

.modal-body-cars h1{
    margin: 0;
}

.top-modal-cars{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-highlight-hover);
    margin-bottom: 30px;
}

.top-modal-cars i{
    color: var(--color-orange);
    font-size: 24px;
}

.modal-body-form-cars{
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.box-modal-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 37px;
    height: 37px;
}


.button-adicionar{
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: var(--color-orange);
    color: #fff;
}

.box-modal-icon{
    padding: 8px;
}

.box-modal-icon i{
    font-size: 17px;
}

span{
    color: #fff;
    font-family: 'Mulish';
    font-weight: 400;
    font-style: normal;
}

.fechar{
    border: none;
    background-color: var(--color-secundary);
}