:root {
    --color-orange: #FCA311;
    --color-orange-hover: #a06300;
    --color-highlight: #4A4A4A;
    --color-highlight-hover: #636363;
    --color-secundary: #2C2C2C;
    --color-background: #1E1E1E;
}

body{
    background-color: var(--color-background);
}

.box-edit{
    width: 200px;
    height: 200px;
    background-color: var(--color-highlight-hover);
}

.content-edit{
    height: 100vh;
}

.edit-view-cars{
    height: 300px;
    width: 350px;
    background-color: var(--color-highlight-hover);
}

.edit-view-cars ul li{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: var(--color-highlight);
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.fa-trash{
    background-color: red;
    color: #fff;
    padding: 6px;
    border-radius: 3px;
    margin-right: 4px;
}

.fa-pen{
    background-color:dodgerblue;
    color: #fff;
    padding: 6px;
    border-radius: 3px;
}

.edit-view-cars i{
    font-size: 16px;
}

.edit-view-cars p{
    margin: 0px;
    color: #fff;
}

.edit-result-car{
    height: 40px;
    margin-bottom: 1px solid var(--color-highlight-hover);
}

#nameEditCar{
    width: 350px;
}
