:root{
    --color-orange:#FCA311;
    --color-orange-hover:#d6890e;
    --color-highlight:#4A4A4A;
    --color-highlight-hover:#636363;
    --color-secundary:#2C2C2C;
    --color-background:#1E1E1E;
}

body{
    background-color: var(--color-background);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1{
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 60px;
    font-size: 24px;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 40px;
    width: 100%;
    background-color:var(--color-secundary);
}

i{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    color: var(--color-orange);
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: 350px;
    border-radius: 10px;
    background-color: var(--color-highlight);
}

.card p{
    color: #fff;
    width: 140px;
    flex-grow: 1;
}

.buttonCard{
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: var(--color-orange);
    cursor: pointer;
    align-self: center;
    width: 100px;
}

h2{
  margin: 40px auto;
  font-family: "Mulish", system-ui;
  font-size: 40px;
  font-weight: 1000;
  color: var(--color-orange);
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 50px 0;
}

.input-search {
    width: 250px;
    height: 35px;
    padding-left: 8px;
    border: 0.5px solid #E1DFDF;
}

.input-search:focus {
    outline: none;
}

.imageBackground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 800px;
    object-fit: cover; 
    z-index: -1;
    filter: blur(20px);
    opacity: 0.3; 
}

.sale, .catalogo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.sale h3, .catalogo h3{
    font-family: "Mulish", system-ui;
    font-weight: 1000;
    margin: 0;
    color: var(--color-orange);
}

#adicionarDesconto{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: var(--color-orange);
}

#adicionarDesconto:hover{
    cursor: pointer;
}

#adicionarDesconto i{
    color: #fff;
    font-size: 16px;
}

.parts, .partsDiscount{
    width: 100%;
    background-color: var(--color-secundary);
    padding: 30px;
    margin-bottom: 35px;
    border-top: 2px solid #d6890e;
    border-bottom: 2px solid #d6890e;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.5);
}

.img{
    width: 180px;
    height: 180px;
}

img {
    width: 90%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.5);
}

.comprar{
    background-color: var(--color-orange);
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 80px;
    font-weight: 600;
}

.parts, .partsDiscount{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    height: auto;
    background-color: var(--color-highlight);
    row-gap: 12rem;
    padding: 30px;
}

.part{
    display: flex;
    margin: 0 auto;
    width: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.parts p, .partsDiscount p{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: 400;
    color: #fff;
    margin-top: 5px;
    width: 100%;
    line-height: 10px;
}

.partsDiscount strong{
    font-size: 24px;
    color: red;
    font-family: 700;
}

.partsDiscount span{
    font-size: 16px;
    color: var(--color-highlight-hover);
    font-family: 'Mulish';
    text-decoration: line-through;
}

.parts span{
    font-size: 22px;
    color: white;
    font-family: 'Mulish';
    font-weight: bold;
    padding: 10px;

}