:root{
    --color-orange:#FCA311;
    --color-orange-hover:#d6890e;
    --color-highlight:#4A4A4A;
    --color-highlight-hover:#636363;
    --color-secundary:#2C2C2C;
    --color-background:#1E1E1E;
}

body{
    background-color: var(--color-background);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1{
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 60px;
    font-size: 24px;
    color: var(--color-orange);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 40px;
    width: 100%;
    background-color:var(--color-secundary);
}

i{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    color: var(--color-orange);
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: 350px;
    border-radius: 10px;
    background-color: var(--color-highlight);
}

.card p{
    color: #fff;
    width: 140px;
    flex-grow: 1;
}

.buttonCard{
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: var(--color-orange);
    cursor: pointer;
    align-self: center;
    width: 100px;
}

h2{
  margin: 40px auto;
  font-family: "Mulish", system-ui;
  font-size: 40px;
  font-weight: 1000;
  color: var(--color-orange);
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 50px 0;
}

.input-search {
    width: 250px;
    height: 35px;
    padding-left: 8px;
    border: 0.5px solid #E1DFDF;
}

.input-search:focus {
    outline: none;
}