:root{
    --color-orange:#FCA311;
    --color-orange-hover:#a06300;
    --color-highlight:#4A4A4A;
    --color-highlight-hover:#636363;
    --color-secundary:#2C2C2C;
    --color-background:#1E1E1E;
}

body{
    font-family: "Mulish", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background);
}

form{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-secundary);
    padding: 20px;
    gap: 20px;
}

span{
    color: #fff;
    font-size: 16px;
}

input,
input{
    display: flex;
    align-items: center;
    background-color: var(--color-highlight);
    height: 35px;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--color-orange);
    padding-left: 10px;
    font-weight: 400;
    color: #fff;
}

input:focus{
    outline: none;
}

button{
    font-family: "Mulish", system-ui;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: var(--color-orange);
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}

button:hover{
    cursor: pointer;
    transition: 2s;
    background-color: var(--color-orange-hover);
}

.acesso{
    color: #fff;
}