.car-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 30px;
}

a{
    color: var(--color-orange);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

footer{
    display: flex;
    position:relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--color-orange);
    color: var(--color-white);
    height: 90px;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.car-list {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    width: 900px !important;
    min-height: 500px;
    max-height: 500px;

    background-color: var(--color-highlight-hover);

    overflow-y: auto;
}

.search-car{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 100px;
    height: 41px;
}

.search-car input{
    border-radius: 5px 0 0 5px;
    width:400px;
    height: 41px;
    background-color: var(--color-highlight);
    border: none;
}

.car-element{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-highlight);
    align-items: center;
    text-align: center;

}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

span{padding: 10px;}

.a i{
    color: white;
    font-size: 24px;
}

.a{
    width: 35px;
    height: 35px;
    background-color: red;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.b{
    width: 35px;
    height: 35px;
    background-color: royalblue;
    color: white;
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.icon-search-car{
    width: 41px;
    height: 41px;
    background-color: var(--color-orange);
    color: white;
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
}

p{
    color: white;
}