:root{
    --color-orange:#FCA311;
    --color-orange-hover:#d6890e;
    --color-highlight:#4A4A4A;
    --color-highlight-hover:#636363;
    --color-secundary:#2C2C2C;
    --color-background:#1E1E1E;
}

body{
    background-color: var(--color-background);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1{
    font-weight: 800;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 60px;
    font-size: 30px;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding: 40px;
    width: 100%;
    background-color:var(--color-secundary);
}

.card i{
    font-size: 60px;
}

i{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--color-orange);
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-color: var(--color-highlight);
    justify-content: flex-end;
    align-items: center;
}

a.suporte {
    padding: 0;
    color: #fff;
    height: 35px;
    width: 100px;
}

.card p{
    color: #fff;
    width: 140px;
    flex-grow: 1;
}

.buttonCardSuporte{
    height: 100%;
    color: var(--color-background); 
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background-color: var(--color-orange);
    cursor: pointer;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms;
}

.buttonCardSuporte:hover{
    background-color: var(--color-orange-hover);
}

.buttonCard{
    margin-top: 6px;
    height: 35px;
    color: var(--color-background); 
    border-radius: 5px;
    font-weight: 700;
    border: none;
    background-color: var(--color-orange);
    cursor: pointer;
    align-self: center;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms;
}

.buttonCard:hover{
    background-color: var(--color-orange-hover);
}

h2{
  margin: 40px auto;
  font-family: "Mulish", system-ui;
  font-size: 40px;
  font-weight: 1000;
  color: var(--color-orange);
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 50px 0;
}

.input-search {
    width: 250px;
    height: 35px;
    padding-left: 8px;
    border: none;
    background-color: var(--color-highlight-hover);
    color: #fff;
}

.input-search:focus {
    outline: none;
}

.imageBackground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 800px;
    object-fit: cover; 
    z-index: -1;
    filter: blur(20px);
    opacity: 0.3; 
}

.part img {
    transition: 250ms;
}

.part img:hover{
    width: 220px;
    height: 170px;
    filter: contrast(150%);
    cursor: pointer;
}

.sale, .catalogo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.sale h3, .catalogo h3{
    font-family: "Mulish", system-ui;
    font-weight: 1000;
    margin: 0;
    color: var(--color-orange);
}

#adicionarDesconto{
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: var(--color-orange);
    color: var(--color-background) !important; 
    transition: 250ms;
}

#adicionarDesconto:hover{
    background-color: var(--color-orange-hover);
}

#adicionarDesconto i{
    color: var(--color-background);
    font-size: 16px;
}

.parts, .partsDiscount{
    width: 100%;
    background-color: var(--color-secundary);
    padding: 30px;   
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.5);
}

.lupa{
    width: 35px;
    height: 35px;
    background-color: var(--color-orange);
    color: var(--color-background); 
    border: none;
    transition: 250ms;
}

.lupa:hover{
    background-color: var(--color-orange-hover);
}

img{
    width: 170px;
    height: 140px;
}

.img {
    width: 135px;
    height: 135px;
    border-radius: 2000px;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comprar{
    background-color: var(--color-background);
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 80px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms, color 250ms;
}

.comprar:hover{
    color: #fff;
    background-color: var(--color-highlight-hover);
}

.parts, .partsDiscount{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 100%;
    height: auto;
    background-color: var(--color-secundary);
    row-gap: 20px;
    column-gap: 20px;
}

.partsDiscount{
    padding: 40px;
}

.parts {
    padding: 20px 40px 40px 40px;
}

.part p{
    margin: 0px;
}

.part{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
    border-radius: 3px;
}

.catalogo h3{
    margin-top: 40px;
}

.parts p, .partsDiscount p{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Mulish';
    font-weight: 400;
    color: #fff;
    margin-top: 5px;
    width: 100%;
    height: 60px;
}

.partsDiscount strong{
    font-size: 26px;
    color: rgb(23, 192, 31);
}

.parts span{
    font-size: 26px !important;
    color: rgb(23, 192, 31) !important;   
}

.partsDiscount span{
    font-size: 16px;
    color: #ff4e38;
    font-family: 'Mulish';
    text-decoration: line-through;
}

.parts span{
    font-size: 22px;
    color: white;
    font-family: 'Mulish';
    font-weight: bold;
    padding: 10px;
}

.pagination{
    display: flex;
    justify-content: center;
}

 ul {
    gap: 0px;
}

.pagination li span{
    background: var(--color-background);
    color: #fff;
    padding: 5px 15px 5px 15px;
    column-gap: 0px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    border: none;
    transition: 250ms;
}

.pagination.active span {
    background-color: var(--color-orange); 
    color: var(--color-background);         
    padding: 5px 15px 5px 15px;
    column-gap: 0px;
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 20px; 
    transition: 250ms;
}

.pagination.active span:hover {
    background-color: var(--color-orange); 
    color: var(--color-background);   
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    column-gap: 0px;
    font-family: 'Mulish';
    font-size: 20px; 
}

.pagination li span:hover {
    background-color: var(--color-orange-hover); 
    color: #fff;
    cursor: pointer;           
}

.pagination li span:focus {
    background-color: var(--color-orange-hover); 

    cursor: pointer;           
}

#values {
    display: flex;
    flex-direction: column;
}

.botao {
    width: 100%;
    height: 30px;
    text-align: right;
}

.excluir{
    border: none;
    background-color: transparent;
    height: 30px;
}

.fa-solid.fa-xmark.excluirPeca {
    color: var(--color-background);
    font-size: 30px;
    transition: 250ms;
    margin: 0px 0px 10px 0px;
}

.fa-solid.fa-xmark.excluirPeca:hover {
    color: var(--color-highlight-hover);
    cursor: pointer;
}

.fa-solid.fa-xmark.fecharModal {
    transition: 250ms;
}

.fa-solid.fa-xmark.fecharModal:hover {
    color: var(--color-orange-hover);
}

#logoNav:hover{
    background-color: transparent;
}

#logoNav {
    display: flex;
    width: 110px;
    justify-content: center;
}

.logoImg {
    width: 110px;
    height: auto;
}

.guiasNav {
    margin: 10px;
}

footer{
    color: var(--color-background) !important; 
    font-weight: 700;
}