nav {
    gap: 10px;
}

a:hover{
    color: var(--color-orange-hover);
}

a{
    transition: 250ms;
}

.logout{
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    color: var(--color-orange);
    background-color: var(--color-highlight);
    height: 40px;
    width: 80px;
}

.login{
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    color: var(--color-orange);
    background-color: var(--color-highlight);
    height: 40px;
    width: 190px;
    transition: 250ms;
}

.login:hover{
    background-color: var(--color-highlight-hover);
}

li img{
    width: 120px;
    height: 120px;
}

.navUl {
    gap: 80px !important;
    font-size: 15px;
}